@charset "utf-8";
/* CSS Document */
body{background-color: aliceblue;}

h1{
	color: aliceblue;
	margin:0px;
	padding: 0px;
}
h2{
	color:brown;
}
h3{ color:#FF3333;
	padding: 0px;
	text-align: right;
}

.ajuste{
	padding:2%;
}
.ajuste2{
	padding:1em;
}
i{
	width:48px;
	height: 48px;
}
.bg1{
	background-color:#FF3333;
}
.bg2{
	background-color:#0099EA;
}
.bg3{
	background-color:#F29741;
}
.bg4{background-color: white;}
.button{background-color:#0099EA;}

li{color:aliceblue;}

.textWhite{color:aliceblue;}

a{
	color: aliceblue;
}